<!DOCTYPE html>
<html lang="en">
<head>
    <script>
 function disableSubmit() {
  document.getElementById("submit").disabled = true;
 }

  function activateButton(element) {

      if(element.checked) {
        document.getElementById("submit").disabled = false;
       }
       else  {
        document.getElementById("submit").disabled = true;
      }

  }
</script>
    <meta charset="UTF-8">
    <title>Terms and Condition</title>
</head>
<body onload="disableSubmit()">
    Welcome {{ user.username }}

    <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">I Agree Terms & Coditions
    <br><br>
  <button type="submit" name="submit" id="submit" onclick="location.href='{% url 'home' %}'">submit</button
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
</body>
</html>